h1, h2 {
    text-align: center;
    color: #4A4A4A;
}
.Gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.Gallery a {
    position: relative;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.Gallery a span {
    position: absolute;
    color: white;
    font-size: 28px;
    font-weight: 800;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: #1a1a1a 1px 0 10px;
}
.Gallery a .blackout {
    position: absolute;
    width: 100%;
    height: 90%;
    background: rgba(0, 0, 0, 0.2);
}
.Gallery a:hover {opacity: 0.7;}
.Gallery a img {
    box-shadow: 0 0 20px -5px rgba(0,0,0,0.75);
}
.single {
    flex-direction: column;
}
.single a img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
.stats {
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.views {
    margin: 0 10px;
    font-weight: 700;
}
.likes {
    margin: 0 10px;
    font-weight: 700;
    color: red;
}
.feedback a {
    margin: 0;
    color: #ee5b17;
}
.feedback span {
    text-align: center;
    display: block;
    margin: 20px auto 10px;
    font-weight: 600;
}