*.mp4
*.doc
*.zip
*.rar
*.7z
*.idea
*.idea/
*desktop.ini
js-2/final_project/public/css/single-page.min.css
js-2/final_project/public/css/single-page.css
js-2/final_project/public/css/shopping-cart.min.css
js-2/final_project/public/css/shopping-cart.css
js-2/final_project/public/css/products.min.css
js-2/final_project/public/css/products.css
js-2/final_project/public/css/normalize.min.css
js-2/final_project/public/css/normalize.css
js-2/final_project/public/css/layout.min.css
js-2/final_project/public/css/layout.css
js-2/final_project/public/css/checkout.min.css
js-2/final_project/public/css/checkout.css
js-2/final_project/src/public/css/single-page.scss
js-2/final_project/src/public/css/single-page.min.css
js-2/final_project/src/public/css/single-page.css
js-2/final_project/src/public/css/shopping-cart.scss
js-2/final_project/src/public/css/shopping-cart.min.css
js-2/final_project/src/public/css/shopping-cart.css
js-2/final_project/src/public/css/products.scss
js-2/final_project/src/public/css/products.min.css
js-2/final_project/src/public/css/products.css
js-2/final_project/src/public/css/normalize.scss
js-2/final_project/src/public/css/normalize.min.css
js-2/final_project/src/public/css/normalize.css
js-2/final_project/src/public/css/layout.scss
js-2/final_project/src/public/css/layout.min.css
js-2/final_project/src/public/css/layout.css
js-2/final_project/src/public/css/checkout.scss
js-2/final_project/src/public/css/checkout.min.css
js-2/final_project/src/public/css/checkout.css
