.order {
  margin: 75px 0;
  flex-direction: column;
  .sub-panel {
    margin: 10px 0;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;;
    & > span {
      margin-left: 50px;
      color: #222222;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
    }

    & .left, & .right {
      margin: 30px 100px;
      flex-direction: column;
      align-items: flex-start;

      span {
        color: #222222;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
      }

      p {
        margin: 10px 0;
        padding: 0;
        color: #b3b2b2;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;

        svg {
          margin-right: 3px;
        }
      }

      .checkbox {
        margin: 7px 0;
        color: #222222;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        input[type=radio],
        input[type=checkbox]{
          /* Hide original inputs */
          visibility: hidden;
          position: absolute;
          vertical-align: middle;
          text-align: center;
          cursor: pointer;
          margin-right: 10px;
        }
        input[type=radio] + label:before,
        input[type=checkbox] + label:before{
          width: 14px;
          height: 14px;
          border: 2px solid #555555;
          background: #fff;
          content: ' ';
          display:inline-block;
          vertical-align: middle;
          text-align: center;
        }
        input[type=radio]:checked + label:before,
        input[type=checkbox]:checked + label:before{
          width: 14px;
          height: 14px;
          border: 2px solid #555555;
          background: #fff;
          content: '⚫';
          display: inline-block;
          vertical-align: middle;
          text-align: center;
        }
        input[type=radio] + label:before{
          border-radius:50%;
        }
        input[type=checkbox] + label:before{
          border-radius:2px;
        }
        & i {
          display: inline-block;
          width: 12px;
          height: 1px;
        }
      }

      .under {
        margin: 2px 0;
        padding: 0;
      }

      .login {
        margin: 14px 0;
        & label {
          color: #222222;
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
          text-transform: uppercase;
        }
        label::after {
          display: inline-block;
          content: '*';
          margin-left: 2px;
          color: #ff0d0d;
          font-size: 17px;
          font-weight: 400;
          line-height: 20px;
        }

        & input[type=password], & input[type=email]  {
          margin: 10px 0;
          width: 390px;
          height: 45px;
          border: 1px solid #eaeaea;
          background-color: #ffffff;
        }
        > p {
          color: #ff0d0d;
          font-size: 13px;
          font-weight: 500;
          line-height: 20px;
        }
        p::before {
          display: inline-block;
          content: '*';
          margin-right: 4px;
          color: #ff0d0d;
          font-size: 17px;
          font-weight: 400;
          line-height: 20px;
        }
        a {
          margin-left: 30px;
          color: #222222;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
        }
      }
    }

    & .left {
      & :nth-child(3) {
        margin-top: 15px;
      }

      & :nth-child(4) {
        margin-bottom: 25px;
      }

      & :nth-child(7) {
        margin-top: 10px;
      }

      & :nth-child(8) {
        margin-bottom: 30px;
      }
    }
    & .right {

    }
  }

  .closed {
    width: 1053px;

   & span {
      cursor: pointer;
    }
  }
}