$leftWidth: 150px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  //display: flex;
}

button, i, a {
  cursor: pointer;
}

header {
  z-index: 2;
  position: fixed;

  width: 100vw;
  min-height: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #202025;
  box-shadow: 0 0 13px -6px rgba(0, 0, 0, 0.3);

  h1 {
    position: relative;
    margin: 0 35px;
    cursor: pointer;

    color: #ffffff;

    span {
      color: #0382c8;
    }
  }

  .cart {
    display: flex;
    margin: 0 35px;
    padding: 10px 15px;
    color: #ffffff;
    border: unset;
    background: unset;

    form {
      position: relative;
      margin: 0 20px;
      padding-top: 12px;

      input {
        color: #ffffff;
        border: unset;
        border-bottom: 2px solid #ffffff;
        background: unset;
        height: 30px;
        padding: 0 25px 0 5px;
        outline: none;
      }

      button {
        position: absolute;
        right: -24px;
        bottom: 0;
        border: unset;
        color: #ffffff;
        outline: none;

        i {

        }

        &:hover {
          border: unset;
          background: unset;
          color: #b5b5b5;
        }
      }
    }

    .btn-cart {
      height: 35px;
      font-size: 18px;
      padding: 0 36px;
      border: 1px solid #35353b;
      color: #ffffff;
      background: #35353b;
      border-radius: 5px;
      box-shadow: 0 0 13px -5px rgba(0, 0, 0, 0.2);

      &:hover {
        border: 1px solid #034F80;
        background: unset;
        color: #059ceb;
      }
    }

    .cart-block {
      position: absolute;
      top: 70px;
      right: 60px;
      width: 350px;
      min-height: 100px;
      border-radius: 10px;
      height: auto;

      color: black;

      background: rgba(246, 246, 246, 0.8);
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.4);

      transition: all .4s;

      &::before {
        content: "";
        position: absolute;
        top: -10px;
        right: 39px;

        width: 15px;
        height: 15px;

        background: #f6f6f6;
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        transform: rotate(45deg);
      }

      .cart-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        margin: 10px;

        .product-bio {
          display: flex;

          img {
            margin: 0 15px 0 10px;

            width: 80px;
            height: auto;
          }

          .product-desc {
            //padding-right: 70px;

            .product-title {
              color: #034F80;
              font-size: 20px;
              font-weight: 600;
            }

            .product-quantity {
              margin-top: 20px;
              font-size: 14px;
              font-weight: 600;
            }

            .product-single-price {
              margin-top: 5px;
            }
          }
        }

        .right-block {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;

          .product-price {
            font-weight: 700;

          }

          button {
            height: 35px;
            font-size: 18px;
            line-height: 12px;
            border: 1px solid #35353b;
            color: #ffffff;
            background: #35353b;
            border-radius: 5px;
            box-shadow: 0 0 13px -5px rgba(0, 0, 0, 0.2);

            &:hover {
              border: 1px solid #034F80;
              background: unset;
              color: #059ceb;
            }
          }
        }

        transition: .3s;

        &:hover {
          box-shadow: 0 0 13px -5px rgba(0, 0, 0, 0.4);
          transition: .3s;
        }
      }
    }

    .invisible {
      display: none;
    }

    &:hover {
      background: unset;
      color: #059ceb;
    }
  }
}

button {
  text-decoration: none;
  cursor: pointer;

  margin: 10px;
  padding: 10px 20px;
  background: unset;
  color: #034F80;
  border: 1px solid #034F80;

  transition: all .5s;

  &:hover {
    background: #034F80;
    color: #ffffff;
  }
}

.left {
  z-index: 1;
  position: fixed;
  overflow-y: hidden;

  margin: 0;
  width: $leftWidth;
  height: 100vh;

  color: #034F80;
  background: rgba(235, 235, 235, 1);
  box-shadow: 0 0 13px -6px rgba(0, 0, 0, 0.3);

  .inside {
    padding: 115px 0 0 20px;

    .catalog_title {
      margin: 10px 0;
      font-weight: 600;
    }

    ul {
      list-style-type: none;

      li {
        cursor: pointer;
        margin: 5px 0 5px 5px;
        transition: all .5s;

        &:hover {
          color: #059ceb;
          transition: all .5s;
        }
      }
    }
  }

  .copyright {
    font-size: 13px;
    text-decoration: none;
    color: #034F80;
    position: absolute;

    left: 20px;
    bottom: 5px;

    span {
      color: #023559;
    }
  }
}

main {
  z-index: 0;
  padding: 100px 0 0 $leftWidth;

  height: 96vh;

  .products {
    padding: 0 20px;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

    .product-item {
      user-select: none;
      position: relative;
      overflow: hidden;

      display: flex;
      align-items: center;
      justify-content: center;

      margin: 10px;
      padding: 0 2em;
      width: auto;
      max-width: 600px;
      height: 200px;

      border-radius: 15px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.35);
      transition: all .5s;

      .product-info {
        margin: 0 10px;
        padding: 0 20px 0 0;

        h3 {
          color: #034F80;
        }

        p {
          font-weight: 600;
        }

        .buy-btn {
          border-radius: 15px;
          position: absolute;
          bottom: 20px;
          left: 30px;
        }
      }

      img {
        max-width: 90%;
        max-height: 55%;
        height: auto;
        object-fit: contain;

        transition: all .5s;
      }

      &:hover {
        transition: all .5s;

        img {
          transform: rotate(-3deg) scale(1.05);
        }
      }
    }

    .sale {
      &::before {
        content: "SALE";
        text-align: center;
        display: block;
        color: white;
        background: #034F80;
        width: 100px;
        height: 20px;
        position: absolute;
        bottom: 15px;
        right: -25px;
        transform: rotate(-45deg);
      }
    }
  }
}