@import "normalize";
@import "layout";
@import "checkout";
@import "products";
@import "shopping-cart";
@import "single-page";

.slider {
  height: 665px;
  background-color: #e8e8e8;

  .bg {
    background: url("../img/index/bg.png") center right;
    height: 100%;
  }

  .container {
    justify-content: space-between;
    align-items: center;

    .text {
      margin-left: 170px;
      margin-bottom: 32px;
      text-transform: uppercase;
      float: left;
      padding-left: 12px;
      border-left: #f16d7f 12px solid;

      h2 {
        margin: 0;
        color: #222222;
        font-size: 60px;
        font-weight: 800;
        line-height: 42px;
      }

      p {
        margin: 20px 0 0;
        font-size: 40px;
        font-weight: 800;
        letter-spacing: 1px;
        line-height: 32px;
      }

      span {
        color: #f16d7f;
      }
    }
  }
}


.offers {
  display: flex;
  justify-content: center;
  margin-top: 98px;
  margin-bottom: 100px;

  > div > div:first-child {
    margin-bottom: 20px;
  }

  .left, .right {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #ffffff;
    border: unset;
    transform: scale(1);
    transition: .4s ease-in-out;

    :hover {
      border: unset;
      transform: scale(1.02);
      transition: .2s ease-in-out;
    }

    .big {
      //background-color: #f16d7f;
      width: 560px;
      height: 542px;
      cursor: pointer;
    }

    .small {
      //background-color: #402020;
      width: 560px;
      height: 261px;
      cursor: pointer;
    }

    .label {
      display: inline-block;
      margin-top: 26px;
      min-width: 175px;
      height: 82px;
      background-color: #ffffff;
      font-weight: 800;

      p {
        margin: 14px 16px 2px;
        padding: 0;
        color: #222222;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 0.45px;
      }

      span {
        margin-left: 16px;
        text-transform: uppercase;
        color: #f16d7f;
        font-size: 30px;
        letter-spacing: 0.75px;
      }
    }
  }

  .left {
    .big {
      background-image: url("../img/index/bg_man.png");
    }

    .small {
      background-image: url("../img/index/bg_acc.png");
    }
  }

  .right {
    .big {
      background-image: url("../img/index/bg_kids.png");
    }

    .small {
      background-image: url("../img/index/bg_women.png");
    }
  }
}

.items {
  margin: 0 auto 100px;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h3 {
    margin: 0 0 8px;
    padding: 0;
    color: #222222;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.75px;
  }

  h4 {
    margin: 0;
    padding: 0;
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
  }

  .grid {
    margin-top: 8px;
    flex-wrap: wrap;

    .box {
      position: relative;
      margin: 22px;
      z-index: 2;
      flex-direction: column;
      width: 261px;
      min-height: 279px;
      text-align: left;
      box-shadow: unset;
      transition: all 0.5s ease-out;

      &:hover {
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
        transition: all 0.5s ease-out;
      }

      .add {
        width: 261px;
        height: 279px;
        position: absolute;
        top: 0;
        left: 0;
        transition: background-color 0.5s ease-out;

        &:hover {
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          background-color: rgba(58, 56, 56, 0.8);

          .add-to-cart {
            display: inline-flex;
            transition: all 0.5s ease-out;
          }
        }

        a {
          display: none;
          padding: 7px;
          text-align: center;
          color: #ffffff;
          font-size: 13px;
          font-weight: 700;
          border: 1px solid #ffffff;

          img {
            margin-right: 5px;
            color: #ffffff;
            width: 23px;
            height: 22px;
          }

          :hover {
            box-shadow: unset !important;
            background-color: unset !important;
          }
        }
      }

      img {
        width: 261px;
        height: 279px;
      }

      span {
        margin-top: 15px;
        color: #222222;
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
      }

      label {
        margin-top: 10px;
        margin-bottom: 15px;
        color: #f16d7f;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }

  button {
    margin: 40px auto 0;
    width: 212px;
    height: 48px;
    border: unset;
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;
    transition: all 0.5s ease-out;

    img {
      margin-left: 5px;
    }

    &:hover {
      transition: all 0.5s ease-out;
      box-shadow: 2px 2px rgba(241, 109, 127, 0.5);
    }
  }
}

.offer-tab {
  justify-content: flex-end;
  position: relative;
  margin: 0 auto 100px;
  width: 1140px;
  height: 529px;
  background: #222224 url("../img/index/sale_women.png") left no-repeat;

  .bg {
    position: absolute;
    top: 0;
    left: 0;
  }

  label {
    position: absolute;
    top: 100px;
    left: 30px;
    color: #ffffff;
    font-size: 54px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;

    span {
      font-weight: 700;
      padding: 0;
      margin: 0 0 0 10px;
      display: initial;
      color: #f16d7f;
      letter-spacing: 1.5px;
    }

    strong {
      display: block;
      margin: 0;
      padding: 0;
      font-size: 32px;
      letter-spacing: 0.9px;
    }
  }

  .features {
    flex-direction: column;
    width: 1140-767px;
    height: 529px;

    .panel {
      position: relative;
      margin: 10px 0;
      padding: 10px 20px;

      img {
        position: absolute;
        top: 15px;
        left: 36px;
      }

      span {
        margin-left: 90px;
        color: #fbfbfb;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.5px;
      }

      p {
        margin: 10px auto 0 90px;
        padding: 0;
        color: #fbfbfb;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0.35px;
        text-align: left;
      }
    }
  }
}
