.checkout {
  margin: 80px 0;
  flex-direction: column;

  > .grid {

    > .top {
      flex-direction: column;

      > .titles {
        color: #222222;
        font-size: 13px;
        font-weight: 700;
        line-height: 20px;
        text-transform: uppercase;
        letter-spacing: -0.2px;
        border-bottom: 1px solid #eaeaea;

        > ul {
          display: flex;

          & :first-child {
            margin-right: 300px;
          }

          & :nth-child(5) {
            margin-left: 80px;
          }

          & :last-child {
            margin-left: 50px;
          }

          > li {
            margin-left: 90px;
            list-style-type: none;
          }
        }
      }

      > .item {
        margin-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #eaeaea;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        display: grid;
        //grid-template-columns: repeat(7, 1fr);
        grid-template-columns: 120px 464px 160px 179px 112px 186px;
        grid-template-rows: 1fr; /* Three rows, two with explicit widths */
        grid-template-areas: "img Product Price Quantity shipping Subtotal ACTION";

        > img {
          margin-right: 20px;
          width: 100px;
          height: 100px;
          object-fit: contain;
        }

        > .details {
          flex-direction: column;
          //> span {
          //  color: #222222;
          //  font-size: 13px;
          //  font-weight: 600;
          //  text-transform: uppercase;
          //  margin-bottom: 30px;
          //}
          > a {
            color: #222222;
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 30px;
          }

          > p {
            margin: 0;
            padding: 0;
            color: #6f6e6e;
            font-size: 13px;
            font-weight: 300;
            line-height: 20px;

            > strong {
              color: #222222;
              font-weight: 600;
              margin-right: 15px;
            }
          }
        }

        & .img {
          grid-area: img;
        }

        & .Product {
          grid-area: Product;
        }

        & .Price {
          grid-area: Price;
        }

        & .Quantity {
          grid-area: Quantity;
        }

        & .shipping {
          grid-area: shipping;
        }

        & .Subtotal {
          grid-area: Subtotal;
        }

        & > .ACTION {
          grid-area: ACTION;
        }

        //& :nth-child(1) {
        //  grid-area: img;
        //}
        //& :nth-child(2) {
        //  grid-area: Product;
        //}
        //& :nth-child(3) {
        //  grid-area: Price;
        //}
        //& :nth-child(4) {
        //  grid-area: Quantity;
        //}
        //& :nth-child(5) {
        //  grid-area: shipping;
        //}
        //& :nth-child(6) {
        //  grid-area: Subtotal;
        //}
        //& > :last-child {
        //  grid-area: ACTION;
        //}
        > p {
          color: #656565;
          font-size: 13px;
          font-weight: 400;
          line-height: 20px;
        }

        > label {

          input {
            text-align: center;
            width: 54px;
            height: 30px;
            color: #656565;
            font-size: 13px;
            font-weight: 400;
            line-height: 20px;
            border: 1px solid #eaeaea;
            background-color: #ffffff;
          }
        }

        > svg {
          cursor: pointer;
          color: #c0c0c0;

          &:hover {
            color: #f16d7f;
            fill: #f16d7f;
          }
        }

        .remover {
          transition: all .3s;

          &:hover {
            svg {
              color: #f16d7f;
              fill: #f16d7f;
              transition: all .3s;
            }
          }
        }
      }
    }

    > .bot {
      margin: 40px 20px;
      justify-content: space-between;

      & button {
        width: 235px;
        height: 50px;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
        color: #4a4a4a;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.3s ease-out;

        &:hover {
          border: 1px solid #eaeaea;
          background-color: #f16d7f;
          color: #eaeaea;
          transition: all 0.3s ease-out;
        }
      }
    }
  }

  .processed {

    & form {
      margin: 0 30px;
      display: flex;
      flex-direction: column;

      & a {
        position: relative;

        & svg {
          position: absolute;
          right: 15px;
          top: 24px;
          color: #bdbdbd;
        }
      }

      & :nth-child(2) {
        margin-top: 20px;
      }

      & input {
        margin: 10px 0;
        width: 355px;
        height: 45px;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
      }

      & input[type=text] {
        width: 355-46px;
        padding: 0 30px 0 16px;
        text-transform: capitalize;
      }

      & input[type=submit] {
        width: 100px;
        height: 35px;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
        color: #4a4a4a;
        font-size: 11px;
        font-weight: 900;
        text-transform: uppercase;
      }

      & input:focus {
        outline: none !important;
        color: #5d5d5d;
      }

      & input::placeholder {
        margin-bottom: 11px;
        color: #a4a4a4;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.35px;
      }

      span {
        color: #222222;
        font-size: 16px;
        font-weight: 800;
        text-transform: uppercase;
      }
    }

    & .address {

    }

    & .discount {
      & p {
        color: #000000;
        font-size: 14px;
        font-weight: 300;
      }
    }

    & .order {
      margin-left: 10px;
      flex-direction: column;
      justify-content: center;
      align-content: flex-end;
      align-items: flex-end;
      width: 360px;
      height: 214px;
      background-color: #f5f3f3;

      & .submit {
        margin-top: 20px;
        margin-right: 15px;
        width: 273px;
        height: 50px;
        background-color: #f16d7f;
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        transition: all 0.3s ease-out;

        &:hover {
          border: 1px solid #f16d7f;
          background-color: #eaeaea;
          color: #f16d7f;
          transition: all 0.3s ease-out;
        }
      }

      & div {
        position: relative;
        margin-right: 50px;
        text-align: right;
        padding-bottom: 20px;

        &::after {
          display: block;
          position: absolute;
          top: 70px;
          right: 0;
          content: "";
          width: 272px;
          height: 1px;
          background-color: #e6e6e6;
        }

        & p {
          color: #4a4a4a;
          font-size: 11px;
          font-weight: 400;
          text-transform: uppercase;
        }

        & span {
          color: #222222;
          font-size: 16px;
          font-weight: 700;
          text-transform: uppercase;

          & strong {
            color: #f16d7f;
          }
        }
      }
    }
  }
}