.product {
  flex-direction: column;

  .preview {
    width: 1607px;
    height: 777px;
    border: 1px solid #eaeaea;
    background-color: #f7f7f7;

    & img {
      z-index: 0;
      animation-duration: 2s;
      animation-name: fadeOut;
    }
  }

  & .details {
    z-index: 1;
    margin-top: -70px;
    width: 1141px;
    //padding: 0 20vw;
    flex-direction: column;
    border: 1px solid #eaeaea;
    background-color: #ffffff;

    & .collection {
      margin-top: 55px;
      color: #f16d7f;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
    }

    & .select {
      margin: 10px 0;

      & a {
        display: inline-block;
        width: 33px;
        height: 1px;
        background-color: #eaeaea;
      }

      & .active {
        width: 63px;
        height: 3px;
        background-color: #ef5b70;
      }
    }

    & span {
      margin: 0 20px;
      display: inline-block;
      color: #b9b9b9;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
      text-transform: uppercase;

      & strong {
        color: #2f2f2f;
      }
    }

    & h2 {
      margin: 5px 0;
      color: #4d4d4d;
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      text-transform: uppercase;
    }

    & p {
      margin: 30px 0;
      max-width: 618px;
      text-align: center;
      color: #5e5e5e;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }

    & .price {
      margin: 30px 0;
      color: #ef5b70;
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;
    }

    & hr {
      margin: 10px 0;
      width: 642px;
      height: 1px;
      background: #eaeaea;
      border: unset;
    }

    & .style {
      margin-top: 30px;
      flex-direction: column;

      & .blocks {
        position: relative;

        & label {
          margin: 5px 20px;
          color: #2f2f2f;
          font-size: 14px;
          font-weight: 700;
          line-height: 24px;
          text-transform: uppercase;
        }

        & input {
          margin: 5px 20px;
          padding-left: 20px;
          padding-right: 25px;
          color: #bcbcbc;
          font-size: 13px;
          font-weight: 400;
          line-height: 24px;
          width: 144-45px;
          height: 35px;
          border: 1px solid #eaeaea;
          background-color: #ffffff;
        }

        div {
          position: relative;
        }

        .color-picker {
          position: absolute;
          display: block;
          top: 43px;
          left: 21+15px;
          width: 12px;
          height: 12px;
          background-color: #ef5b70;
        }

        & a {
          position: absolute;
          color: #bcbcbc;
          top: 37px;
          right: 30px;
        }

        #color {
          text-transform: capitalize;
          padding-left: 40px;
          width: 114px;
        }

        #size {
          text-transform: uppercase;
        }
      }

      .wrapper {
        margin-bottom: 80px;
        position: relative;

        & img {
          position: absolute;
          left: 190px;
        }
      }

      .pink-button {
        margin: 20px 0;
        color: #ef5b70 !important;
        width: 537px;
        height: 55px;
        font-weight: 800;
        border: 1px solid #ef5b70;
        background-color: #ffffff;
        text-transform: none;

        &:hover {
          color: #ffffff !important;
          background-color: #ef5b70;
        }

        &::before {

        }
      }
    }
  }
}

.items {
  margin-top: 80px;

  & h3 {
    margin-top: 40px !important;
    color: #4d4d4d;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
  }

  .box {
    & img {
      width: 257px;
      height: 280px;
    }
  }
}

@keyframes fadeOut {
  from {
    opacity: 50%;
    margin-left: 500px;
  }

  to {
    opacity: 100%;
    margin-left: 0;
  }
}