$leftWidth: 150px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
}

header {
  z-index: 2;
  position: fixed;
  display: flex;
  min-height: 70px;
  width: 100vw;
  background: #202025;

  align-items: center;
  justify-content: space-between;

  box-shadow: 0 0 13px -6px rgba(0, 0, 0, 0.3);

  h1 {
    position: relative;
    margin: 0 35px;

    color: #ffffff;

    span {
      color: #0382c8;
    }

  }

  .btn-cart {
    margin: 0 35px;
    padding: 10px 15px;
    color: #ffffff;
    border: unset;
    background: unset;

    &:hover {
      background: unset;
      color: #059ceb;
    }
  }
}

button {
  text-decoration: none;
  cursor: pointer;

  margin: 10px;
  padding: 10px 20px;
  background: unset;
  color: #034F80;
  border: 1px solid #034F80;

  transition: all .5s;

  &:hover {
    background: #034F80;
    color: #ffffff;
  }
}

.left {
  z-index: 1;
  position: fixed;
  overflow-y: hidden;

  margin: 0;
  width: $leftWidth;
  height: 100vh;
  background: #2f2a2d;

  color: #ffffff;

  box-shadow: 0 0 13px -6px rgba(0, 0, 0, 0.3);

  .inside {
    padding: 100px 0 0 20px;

    .catalog_title {
      margin: 10px 0;
      font-weight: 600;
    }

    ul {
      list-style-type: none;

      li {
        margin: 5px 0 5px 5px;
        transition: all .5s;

        &:hover {
          color: #059ceb;
          transition: all .5s;
        }
      }
    }

  }

  .copyright {
    font-size: 13px;
    text-decoration: none;
    color: #cccccc;
    position: absolute;

    left: 20px;
    bottom: 5px;

    span {
      color: #ffffff;
    }
  }
}

main {
  z-index: 0;
  padding: 100px 0 0 $leftWidth;

  .products {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 20px;

    .product-item {
      user-select: none;
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      margin: 15px;
      width: 300px;
      height: 250px;

      border: 1px solid rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.5);
      transition: all .5s;

      h3 {
        position: absolute;
        top: 10px;
        left: 15px;
        color: #034F80;
      }

      p {
        font-weight: 600;
        position: absolute;
        bottom: 20px;
        right: 105px;
      }

      img {
        max-width: 90%;
        max-height: 55%;
        height: auto;
        object-fit: contain;

        transition: all .5s;
      }

      .buy-btn {
        position: absolute;
        bottom: 0;
        right: 0;
      }

      &:hover {
        transition: all .5s;

        img {
          transform: rotate(-3deg) scale(1.05);
        }
      }
    }
  }
}