.products {
  margin-top: 50px;
  position: relative;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.products .sidenav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  margin-right: 50px;
  width: 243px;
  height: 100%;
  overflow-x: hidden;
}
.products .sidenav .category {
  margin: 10px 0;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 243px;
}
.products .sidenav .category span {
  cursor: pointer;
  width: inherit;
  position: relative;
  display: block;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  line-height: 37px;
  text-transform: uppercase;
  border-left: 5px solid #ef5b70;
  padding-left: 15px;
  border-bottom: 1px solid #ebebeb;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
.products .sidenav .category span:hover {
  color: #ef5b70;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
.products .sidenav .category span svg {
  position: absolute;
  top: 10px;
  left: 220px;
}
.products .sidenav .category span .active {
  top: 15px;
}
.products .sidenav .category span .active svg {
  fill: #ef5b70;
}
.products .sidenav .category .active {
  color: #ef5b70;
}
.products .sidenav .category ul {
  padding: 0 0 0 20px;
}
.products .sidenav .category ul li {
  cursor: pointer;
  list-style-type: none;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 600;
  line-height: 33px;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
.products .sidenav .category ul li:hover {
  color: #ef5b70;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
.products .sidenav :nth-child(1) {
  margin-top: 0;
}
.products .choose {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
.products .choose > .top {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.products .choose > .top .block {
  margin: 0 30px;
  /*Outer-box*/
  /*Checkmark*/
  /*Hide the checkmark by default*/
  /*Unhide the checkmark on the checked state*/
  /*Adding focus styles on the outer-box of the fake checkbox*/
}
.products .choose > .top .block span {
  margin-bottom: 10px;
  display: block;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
.products .choose > .top .block a {
  margin: 5px 0 0 -10px;
  padding: 0 12px;
  display: inline-block;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
}
.products .choose > .top .block a:hover {
  color: #ef5b70;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
.products .choose > .top .block input[type=checkbox] {
  opacity: 0;
  cursor: pointer;
  margin: 5px 0 5px 10px;
  width: 13px;
  height: 13px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
}
.products .choose > .top .block label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 5px 10px 5px 0;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
.products .choose > .top .block label::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
}
.products .choose > .top .block label::after {
  content: "";
  display: inline-block;
  height: 6px;
  width: 8px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.products .choose > .top .block label {
  position: relative;
}
.products .choose > .top .block label::before, .products .choose > .top .block label::after {
  position: absolute;
}
.products .choose > .top .block label::before {
  top: 3px;
  left: -25px;
}
.products .choose > .top .block label::after {
  top: 5px;
  left: -22px;
}
.products .choose > .top .block input[type=checkbox] + label::after {
  content: none;
}
.products .choose > .top .block input[type=checkbox]:checked + label::after {
  content: "";
}
.products .choose > .top .block input[type=range] {
  width: 210px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
  outline: none;
}
.products .choose > .top .block input[type=range],
.products .choose > .top .block input[type=range]::-webkit-slider-runnable-track,
.products .choose > .top .block input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: none;
}
.products .choose > .top .block input[type=range]::-webkit-slider-runnable-track {
  width: 200px;
  height: 6px;
  background: #f16d7f;
}
.products .choose > .top .block input[type=range]:nth-child(2)::-webkit-slider-runnable-track {
  background: #f0f0f0;
}
.products .choose > .top .block input[type=range]::-webkit-slider-thumb {
  position: relative;
  width: 14px;
  height: 14px;
  margin-top: -5px;
  background: #f16d7f;
  border: 1px solid #f16d7f;
  border-radius: 25px;
  z-index: 1;
}
.products .choose > .top .block input[type=range]:nth-child(1)::-webkit-slider-thumb {
  z-index: 2;
}
.products .choose > .top .block .range-slider {
  position: relative;
  height: 60px;
  width: 210px;
  display: inline-block;
  margin-top: -5px;
  margin-left: 20px;
}
.products .choose > .top .block .range-slider input {
  position: absolute;
}
.products .choose > .top .block .range-slider {
  position: absolute;
}
.products .choose > .top .block .range-slider span {
  position: absolute;
  margin-top: 30px;
  left: 0;
}
.products .choose > .top .block .range-slider .right {
  position: relative;
  float: right;
  margin-right: -5px;
}
.products .choose > .top .block .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.products .choose > .top .block .wrapper .checkbox {
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.products .choose > .top .block .wrapper .checkbox label {
  margin-left: 5px;
}
.products .choose > .top .block .range-slider > input {
  cursor: pointer;
}
.products .choose > .top > :nth-child(1) {
  margin-right: 40px;
  margin-left: 0;
}
.products .choose > .top > :nth-child(1) :nth-child(2), .products .choose > .top > :nth-child(1) :nth-child(3), .products .choose > .top > :nth-child(1) :nth-child(7), .products .choose > .top > :nth-child(1) :nth-child(6) {
  border-right: 1px solid #dfdfdf;
}
.products .choose > .top > :nth-child(3) {
  margin-left: 40px;
  width: 254px;
}
.products .choose > .mid {
  margin: 20px 0;
  width: 846px;
  height: 50px;
  background-color: #f3f3f3;
}
.products .choose > .mid .sort form {
  margin-left: 10px;
}
.products .choose > .mid .sort form label {
  padding: 5.5px 11px;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
}
.products .choose > .mid .sort form select {
  padding-left: 5px;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  width: 80px;
  height: 30px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
}
.products .choose > .mid .sort :nth-child(3) {
  margin-left: 5px;
}
.products .choose > .mid .sort :nth-child(4) {
  width: 50px;
}
.products .choose > .bot > .items {
  margin-bottom: 40px;
}
.products .choose > .bot > .items > .grid {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 846px;
}
.products .choose > .bot > .items > .grid .box {
  margin: 20px 10px;
}
.products .choose .under {
  margin-bottom: 80px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 846px;
}
.products .choose .under .pages {
  width: 261px;
  padding: 9px 0;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  text-align: center;
}
.products .choose .under .pages a {
  margin: 0 6px;
  color: #c4c4c4;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
}
.products .choose .under .pages a:hover {
  color: #ef5b70;
}
.products .choose .under .pages .active {
  color: #ef5b70;
}
.products .choose .under .pink-button {
  width: 150px;
  height: 44px;
  text-transform: capitalize;
}

.offer-tab {
  margin: 0 auto;
  width: 1618px;
  height: 341px;
  background-color: #222224;
  background-image: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.offer-tab .features {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.offer-tab .features .panel {
  margin-top: 50px;
  width: 320px;
}
.offer-tab .features .panel img {
  top: -35px;
  left: 160px;
}
.offer-tab .features .panel p {
  margin: 10px 0 0;
  text-align: center;
}
.offer-tab .features :nth-child(1) :first-child {
  left: 150px;
}
.offer-tab .features :nth-child(2) :first-child {
  left: 165px;
}
.offer-tab .features :nth-child(3) :first-child {
  left: 165px;
}