* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #333;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    font-size: 1.2rem;
}

.container {
    max-width: 960px;
    padding: 1rem 0;
    margin: auto;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    padding: 1rem 2rem;
}

.nav a:hover {
    background: #444444;
}

.active {
    background: #444444;
}

.header {
    background: #444444;
}

.main {
    flex-grow: 1;
}

#task {
    text-align: left;
}

a {
    color: yellow;
}