body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    text-align: center;
    color: #4A4A4A;
}

nav {
    margin: 10px 20px;
}

nav a {
    margin: 5px;
    color: #034F80;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px solid #034F80;
}

.auth {
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth span {
    margin: 0 10px;
    color: #034F80;
}

header, footer {
    margin: 0 auto;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

header {
    min-height: 70px;
    background: aliceblue;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container {
    /*height: 88vh;*/
}

.Gallery {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.Gallery a {
    position: relative;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.Gallery a span {
    position: absolute;
    color: white;
    font-size: 28px;
    font-weight: 800;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: #1a1a1a 1px 0 10px;
}

.Gallery a .blackout {
    position: absolute;
    width: 100%;
    height: 90%;
    background: rgba(0, 0, 0, 0.2);
}

.Gallery a:hover {
    opacity: 0.7;
}

.Gallery a img {
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.75);
}

.single {
    flex-direction: column;
}

.single a img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.stats {
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.views {
    margin: 0 10px;
    font-weight: 700;
}

.likes {
    margin: 0 10px;
    font-weight: 700;
    color: red;
}

.feedback a {
    margin: 0;
    color: #ee5b17;
}

.feedback p {
    padding: 10px 20px;
    border-left: 2px solid #ee5b17;
}

.feedback span {
    text-align: center;
    display: block;
    margin: 20px auto 10px;
    font-weight: 600;
    font-size: 24px;
}

.button {
    position: absolute;
    top: 15px;
    left: 20px;
    padding: 10px 15px;
    border: 1px solid #034F80;
    color: #034F80 !important;
    text-decoration: none;
}

button, .buttonAdd {
    text-decoration: none;
    cursor: pointer;
    margin: 5px;
    padding: 10px 15px;
    color: #034F80;
    border: 1px solid #034F80;
    background: unset;
}

button:hover, .buttonAdd:hover {
    color: #ffff;
    border: 1px solid #032746;
    background: #034F80;
}

.cart {
    border: unset !important;
}

.cart img {
    width: auto;
    height: 20px;
    filter: invert(0) sepia(1) saturate(7.4) hue-rotate(165.6deg) brightness(1);
}

.description {
    max-width: 700px;
    margin: 10px;
    color: gray;
}

.description span {
    color: #034F80;
}

.price {
    margin: 10px 0 5px;
    color: #ee5b17;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-item {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.3s;
    min-width: 100%;
}

.cart-item:hover {
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.75);
    transition: 0.3s;
}

.cart-item strong {
    font-weight: 700;
    font-size: 20px;
}

.cart-item label {
    margin: 5px 5px 5px 10px;
    color: orangered;
}

.cart-del {
    display: block;
    position: absolute !important;
    top: 42px;
    right: 10px;
    color: gray;
    text-decoration: none;
}

.cart-del:hover {
    color: orangered;
}

.order-item {
    margin: 10px auto;
    min-height: 50px;
    flex-direction: column;
}

.order-name {
    margin-left: 10px;
}

.order-name strong {
    color: #034F80;
}

.order-info {
    display: flex;
}

.order-products {
    display: flex;
}

.product-price {

}

.product-price strong {
    color: red;
}


.start {
    align-items: baseline;
}

.auth input[type='text'], input[type='password'] {
    width: 150px;
    height: 25px;
    padding-left: 10px;
    border: unset;
    outline: none;
}

.auth input[type='checkbox'] {

}

.auth input[type='submit'] {
    margin-left: 10px;
    width: 80px;
    height: 30px;
    color: #034F80;
    border: 1px solid #034F80;
    outline: none;
    background: none;
    transition: 0.3s;
}

.auth input[type='submit']:hover {
    color: #ffffff;
    background: #034F80;
    border: 1px solid #034F80;
    transition: 0.3s;
}

.auth strong {
    color: #034F80;
}

footer {
    min-height: 70px;
    /*background: #5f646a;*/
}

footer a {
    color: #5f646a;
    text-decoration: none;
}